.letrs-red {
    color: #c2151c;
}

h1 {
    color: #c2151c;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 0;
}

.orange-body {
    background: #ff6d10;
}

.orange-body a {
    color: #ffffff;
    font-weight: bold;
}

.orange-body p {
    color: #ffffff;
}

.red-body {
    background: #c2151c;
}

.red-body h3 {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
}

h2 {
    margin: 0;
    line-height: 30px;
    color: #c2151c;
}